*, p {
  margin: 0 auto;
  padding: 0;
}
$yellow: rgb(255, 225, 91);

body {
  font-family: 'Times New Roman', sans-serif;
  background: #343d46 url('./assets/img/main.png') no-repeat 50% -25%;
}

.buttonList {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  &:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
}

.loading {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.search-row {
  position: relative;
  width: 70vw;
  height: 50px;
  border-radius: 10px;
  background: #ffffff;
  margin-top: 20px;
  .search-button {
    width: 5%;
    height: inherit;
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    left: 5px;
    outline: none;
    .fa-search {
      font-size: 2rem;
      color: #343d46;
      transition: all 0.5s ease-in-out;
      &:hover {
        color:red;
        transform: scale(1.1) rotate(90deg);
      }
    }
  }
  .search-row-input {
    position: absolute;
    left: 7%;
    width: 90%;
    height: inherit;
    border: none;
    font-size: 1.25rem;
    color: #343d46;
    background:#ffffff;
    outline: none;
    &::-webkit-input-placeholder {
      opacity: 1;
      transition: opacity 0.7s ease;
    }
    &::-webkit-input-placeholder {
      color:red;
      opacity: 0;
    }
  }
}

#slider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin-top: 30px;
  .video {
    position: relative;
    width: 270px;
    height: 600px;
    max-height: 600px;
    min-height: 450px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    margin: 10px 0;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: black;
    background: #ffe15b;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    .preview-container {
      margin: 0;
      .preview {
        position: absolute;
        width: 100%;
        height: 40%;
        img {
          position: absolute;
          width: 95%;
          height: 100%;
          margin: 2.5%;
          transition: all 0.4s ease-in-out;
        }
        .figcaption {
          position: relative;
          margin: 36% 0;
          text-align: center;
          background: #006600;
          .figcaption-link {
            font-size: 1.125rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
            color: #ffffff;
          }
        }
      }
    }
    .video-information {
      position: relative;
      top: 45%;
      width: 80%;
      height: 8rem;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 20% 80%;
      grid-template-areas:
      "author-i author-p"
      "date-i date-p"
      "counter-i counter-p";
      margin-left: 15%;
      align-items: center;
      justify-items: center;
      i {
        display: grid;
        font-size: 2.25rem;
        color: #777777;
      }
      .author {
        i {
          grid-area: author-i;
        }
        p {
          grid-area: author-p;
        }
      }
      .published {
        i {
          grid-area: date-i;
        }
        p {
          grid-area: date-p;
        }
      }
    }
    .description {
      position: absolute;
      top: 70%;
      padding: 0 15px;
      font-size: 1.1rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      background: linear-gradient(to top, #2c647e, #37b5d4, #62ce86);
      color: #ffffff;
      box-shadow: 0px 0px 12px 8px $yellow;
      transform: scale(0.95);
      cursor: pointer;
      .preview img {
        transform: rotate(-5deg) scale(0.97);
      }
      .figcaption .figcaption-link {
        color: $yellow;
      }
      .video-information i {
        color:#ffff;
        text-shadow: 0px 0px 15px $yellow;
      }
    }
  }
}

@media (max-width: 767px) and (min-width: 320px) {
	.search-row .search-row-input {
    left: 20%;
    width: 75%;
  }
}
